<h1>Students</h1>

<table border="0" cellpadding="5" cellspacing="0" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Email Address</th>
    </tr>
  </thead>

  <tbody>
  <% @students.each do |s| %>

    <tr>
      <td><%=s.full_name%></td>
      <td><%=s.format_gender%></td>
      <td><%=s.birth_date&.strftime("%d/%m/%Y") %></td>
      <td><%=s.email%></td>
    </tr>

  <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @students, renderer: BootstrapPagination::Rails, :previous_label => 'Prev', :next_label => 'Next' %>
</div>
